@font-face {
    font-family: 'NewYork';
    src: url('src/fonts/csrodney.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-user-select: inherit;
    user-select: inherit;
    -webkit-user-drag: inherit;
    -webkit-tap-highlight-color: inherit;
    backface-visibility: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'NewYork', sans-serif;
    background-color: #ffffff; /* Green background */
    color: #ffffff;
    margin: 0; /* Ensure no margins */
    overflow: hidden; /* Prevent scrollbars */
}

body {
    font-family: 'NewYork', sans-serif;
    font-weight: 600;
    font-size: 16px;
    font-feature-settings: "palt";
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.frame {
    position: fixed;
    z-index: 10;
    left: 2%;
    right: 2%;
    top: 2%;
    bottom: 2%;
    pointer-events: none;
}

.frame_line {
    position: absolute;
    background-color: #000;
}

.frame_line-left, .frame_line-right {
    top: 0;
    width: 1px;
    height: 100%;
}

.frame_line-left {
    left: 0;
}

.frame_line-right {
    right: 0;
}

.frame_line-top, .frame_line-bottom {
    left: 0;
    width: 100%;
    height: 1px;
}

.frame_line-top {
    top: 0;
}

.frame_line-bottom {
    bottom: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1400px;
    padding: 40px;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.left-column {
    flex: 1 1 300px;
    max-width: 350px;
    margin-top: 80px;
}

.left-column h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: 600;
    color: #000000;
}

.left-column p {
    font-size: 1.2em;
    font-weight: 400;
    color: #000000;
    margin-bottom: 40px;
}

.nav {
    list-style-type: none;
    margin-top: 50px;
}

.nav li {
    margin-bottom: 20px;
}

.nav li a {
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.nav li a:hover {
    text-decoration: underline;
}

.right-column {
    flex: 1 1 300px;
    max-width: 400px;
    text-align: right;
    margin-top: 80px;
}

.right-column p {
    font-size: 1.2em;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
    line-height: 1.5;
    transition: opacity 0.5s;
}

.project-panel, .info-panel, .contact-panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
    text-align: center;
    z-index: 1000;
    transition: opacity 0.5s;
    width: 80%;
    max-width: 500px;
}

.project-panel h2, .info-panel h2, .contact-panel h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.project-panel p, .info-panel p, .contact-panel p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s;
    color: #ffffff;
}

.close-button:hover {
    color: red;
}

.arrow-button, .info-button, .submit-button {
    display: inline-block;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
}

.arrow-button:hover, .info-button:hover, .submit-button:hover {
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.form-group.half-width input {
    width: 48%;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

@keyframes crumble {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

.crumble {
    animation: crumble 0.167s forwards;
}

@media (max-width: 768px) {
    .left-column, .right-column {
        flex: 1 1 100%;
        text-align: center;
        margin-top: 20px;
    }
    .frame {
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
    }
    .project-panel, .info-panel, .contact-panel {
        width: 90%;
        padding: 20px;
    }
    .content {
        padding: 30px;
    }
}

.inside-my-mind-container {
    text-align: left;
    max-width: 800px;
    width: 100%;
}

.inside-my-mind-header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #383838;
}

.inside-my-mind-header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.inside-my-mind-header p {
    font-size: 1.2em;
    color: #383838;
}

.inside-my-mind-main {
    display: flex;
    flex-direction: column;
}

.inside-my-mind-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.inside-my-mind-link {
    font-size: 1.2em;
    color: #383838;
    text-decoration: none;
}

.inside-my-mind-link:hover {
    text-decoration: underline;
}

.inside-my-mind-item span {
    font-size: 1em;
    color: #383838;
}

.inside-my-mind-footer {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #383838;
    display: flex;
    justify-content: space-between;
}

.inside-my-mind-footer p {
    font-size: 1em;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    color: #383838;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .inside-my-mind-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .inside-my-mind-link {
        margin-bottom: 5px;
    }

    .inside-my-mind-footer {
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        margin-top: 10px;
    }
}
